<% if user_signed_in? %>
  <div class="navbar-container">
    <nav class="navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <%= react_component('Notification', props: {
              currentUser: current_user,
              csrfToken: csrf_token
          })
          %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/directMessage">Direct message</a>
        </li>
      </ul>
      <div class="navbar-brand">
        <%=image_tag("https://storage.googleapis.com/mnemo-storage/image_project/logo_mnemo.svg")%><div style="display: inline; padding-left: 1rem">MNEMO</div>
      </div>
      <div class="dropdown-container">
        <div class="dropdown">
          <div class="avatar-container" data-toggle="dropdown">
            <span> <%= current_user.name %> |</span>
            <% if current_user.image %>
              <%=image_tag(current_user.image)%>
            <% else %>
              <%=image_tag("https://storage.googleapis.com/mnemo-storage/placeHolderAvatar/tempAvatar.jpg")%>
            <% end %>
          </div>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="/profile"><%= current_user.name %></a></li>
            <li class="hidden-list"><a href="">New Feed</a></li>
            <li class="hidden-list"><a>Notification</a></li>
            <li><a href="/users/edit">Setting</a></li>
            <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
<% else %>
  <div class="navbar-container">
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="nav-link" href="/">
          <%=image_tag("https://storage.googleapis.com/mnemo-storage/image_project/logo_mnemo.svg")%><div style="display: inline; padding-left: 1rem">MNEMO</div>
        </a>
      </div>
      <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_in">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_up">Sign up</a>
          </li>
        </ul>
    </nav>
  </div>
<% end %>
