<% if user_signed_in? %>
    <div class="root-container">
      <!--<%= link_to('Logout', destroy_user_session_path, method: :delete) %>-->
      <%= react_component('App', props: {
          currentUser: current_user,
          csrfToken: csrf_token
      })
      %>

<<<<<<< 9febc8cab9f052293946f18dfc562096e454db8c
      <%# <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
      </form> %>
=======
      <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
      </form>
>>>>>>> prevent csrf token
    </div>
<% else %>
  <%= link_to('Login', new_user_session_path)  %>
  <%= link_to('Register', new_user_registration_path)  %>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
<% end %>

<%= react_component 'LandingPage' %>
