<% if user_signed_in? %>
<<<<<<< HEAD
    <div class="root-container">
      <!--<%= link_to('Logout', destroy_user_session_path, method: :delete) %>-->
      <%= react_component('App', props: {
          currentUser: current_user,
          csrfToken: csrf_token
      })
      %>
    </div>
<% else %>
  <%= link_to('Login', new_user_session_path)  %>
  <%= link_to('Register', new_user_registration_path)  %>
=======
>>>>>>> ee6fd40c668433c4007688dc9fcdd95ad9c99962
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
<% end %>

<%= react_component 'LandingPage' %>
