<!DOCTYPE html>
<html>
  <head>
    <title>MnemoWeb</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'webpack-bundle' %>
    <%= react_component('FirebaseInitialize')
    %>
    <%= render partial: 'shared/nav_bar' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %> <%= 'landing-page' unless user_signed_in? %>">
    <%= yield %>
  </body>
</html>